html {
    margin: 0px;
}

a.ui-link {
    color: black;
}

.nav li {
    display: inline-block;
    margin-right: 0px;
}

span#email {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-left: 12px;
    position: relative;
    z-index: 1;
}

.roman > li img {
    display: none;
}

.roman > li p:hover {
    list-style: none;
    text-decoration: none;
    color: Green;
    background-color: orange;
}

.roman > li p {
    color: black;
    font-weight: bold;
    padding: 5px;
}

.roman > li {
    list-style: none;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.show:hover {
    border: 2px solid orange;
}

.resume {
    padding: 10px;
}

#btn2 {
    margin-top: 10px;
}

.ss_img {
    display: none;
}

.show {
    display: inline-block;
    height: 100px;
    width: 100px;
    right: 45px;
}

button.navbar-toggle {
    width: 55px;
}

.row.visible-xs > nav {
    left: 10px;
}

.row.hidden-xs {
    left: 55px;
}

.iconbar1 {
    background-color: purple;
}

.iconbar2 {
    background-color: green;
}

.iconbar3 {
    background-color: blue;
}

.drop_menu > button {
    left: 45px;
    background-color: #6CF;
}
a#link1 {
    color: black;
}
a#link2 {
    color: black;
}
a#link3 {
    color: black;
}
a.link.ui-link {
    color: black;
}

#link {
    color: black;
}

a.final.ui-link {
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    left: 50px;
    color: black;
    text-decoration: none;
    padding: 10px;
    right: 5px;
}
a.final {
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    left: 50px;
    color: black;
    text-decoration: none;
    padding: 10px;
    right: 5px;
}
a.final:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.resume > span:hover {
background-color: black;
padding: 10px;
font-weight: bold;
color: white;
border-radius: 10px;
}